:root{

/* COLORS */

--primary:#0F6A4D;
--primary-opacity:#0f6a4d83;
--primary-dark:#0A4D38;
--primary-light:#2D8C68;

--gold:#D4AF37;
--gold-light:#E9C96B;

--white:#ffffff;
--background:#F8F8F5;
--gray:#777777;
--dark:#1F1F1F;
--black:#111111;

/* FONTS */

--heading:'Cormorant Garamond',serif;
--text:'Poppins',sans-serif;


/* FONT SIZE */

--fs-1:72px;
--fs-2:58px;
--fs-3:42px;
--fs-4:30px;
--fs-5:22px;
--fs-6:18px;
--fs-7:16px;


/* FONT WEIGHT */

--light:300;
--regular:400;
--medium:500;
--semi:600;
--bold:700;


/* CONTAINER */

--container:1400px;

/* BORDER */

--radius:18px;
--radius-large:30px;
--radius-round:100px;

/* SHADOW */

--shadow:

0 15px 45px rgba(0,0,0,.10);

--shadow-hover:

0 25px 60px rgba(0,0,0,.18);


/* TRANSITION */

--transition:.35s ease;


/* HEADER */

--header-height:90px;

}

*{

margin:0;
padding:0;
box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{
font-family:var(--text);
background:var(--background);
color:var(--dark);
overflow-x:hidden;

}

img{

max-width:100%;
display:block;

}

a{

text-decoration:none;
color:inherit;

}

ul{

list-style:none;

}

button{

border:none;
background:none;
cursor:pointer;
font-family:inherit;

}

input,

textarea{

font-family:inherit;
outline:none;

}

section{

padding:120px 0;

}

::selection{

background:var(--primary);


}

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-track{

background:#eee;

}

::-webkit-scrollbar-thumb{

background:var(--primary);
border-radius:50px;

}

::-webkit-scrollbar-thumb:hover{

background:var(--gold);

}
.container{

width:min(92%,var(--container));
margin:auto;

}

h1,h2,h3,h4,h5{

font-family:var(--heading);
font-weight:700;
line-height:1.1;

}

h1{
font-size:var(--fs-1);
}

h2{

font-size:var(--fs-2);

}

h3{

font-size:var(--fs-3);

}

p{

font-size:17px;
line-height:1.9;
color:var(--gray);

}

#loader{

position:fixed;
inset:0;
background:white;
display:flex;
justify-content:center;
align-items:center;
z-index:99999;
transition:.7s;

}

.loader-content{

display:flex;
flex-direction:column;
align-items:center;
gap:25px;

}

.loader-content img{

width:170px;

}

.loader-line{

width:0;
height:3px;
background:var(--gold);
animation:loading 2s forwards;

}

@keyframes loading{

100%{

width:170px;

}

}

header{

position:fixed;
top:0;
left:0;
width:100%;
height:var(--header-height);
z-index:9999;
transition:var(--transition);

}

header.active{

background:var(--primary-opacity);
backdrop-filter:blur(18px);
box-shadow:var(--shadow);


}

.navbar{
width:min(94%,var(--container));
height:100%;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;

}

.logo{

    position:relative;

    overflow:hidden;

}
.logo::after{

    content:"";

    position:absolute;

    top:0;
    left:-120%;

    width:15%;
    height:100%;

    background:linear-gradient(
        110deg,
        transparent,
        rgba(75, 189, 0, 0.35),
        transparent
    );

    transform:skewX(-20deg);

    animation:logoShine 10s infinite;

}
@keyframes logoShine{

    0%{

        left:-120%;

    }

    12%{

        left:140%;

    }

    100%{

        left:140%;

    }

}


.logo img{

height:65px;
transition:.35s;

}

.nav-links{
display:flex;
gap:34px;
align-items:center;

}

.nav-links a{
font-size:16px;
font-weight:500;
color:var(--gold-light);
position:relative;
transition:.35s;

}

.nav-links a::after{

content:"";
position:absolute;
left:0;
bottom:-8px;
width:0;
height:2px;
background:var(--gold);
transition:.35s;

}

.nav-links a:hover::after{

width:100%;

}

#loader.hide{

opacity:0;
visibility:hidden;
pointer-events:none;
transition:.6s;

}

/*==================================================

BURGER MENU

==================================================*/

.burger{

    width:45px;
    height:45px;
    display:none;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:6px;
    cursor:pointer;
    z-index:10001;

}

.burger span{

    width:28px;
    height:3px;
    background:white;
    border-radius:50px;
    transition:.35s ease;

}

/* Header alb */

header.active .burger span{

   background:var(--primary);

}

.burger.active span:nth-child(1){

    transform:translateY(9px) rotate(45deg);

}

.burger.active span:nth-child(2){

    opacity:0;

}

.burger.active span:nth-child(3){

    transform:translateY(-9px) rotate(-45deg);

}

@media(max-width:992px){

.nav-links,
.nav-actions{

    display:none;

}

.burger{

    display:flex;

}

}


body.menu-open{

    overflow:hidden;

}

.mobile-overlay{

    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    opacity:0;
    visibility:hidden;
    transition:.35s;
    z-index:9998;

}

.mobile-overlay.active{

    opacity:1;
    visibility:visible;

}

/*==================================================

FULLSCREEN MOBILE MENU

==================================================*/

.mobile-menu{

    position:fixed;
    inset:0;
    background-image:url("images/hero1.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    visibility:hidden;
    transition:.45s ease;
    z-index:9998;
    overflow:hidden;

}
.mobile-menu::before{

    content:"";

    position:absolute;
    inset:0;

    background:
        linear-gradient(
            rgba(8, 45, 33, 0.534),
            rgba(15, 106, 77, 0.226)
        );

    backdrop-filter:blur(8px);
    -webkit-backdrop-filter:blur(8px);

}
.mobile-menu::after{

    content:"";
    position:absolute;
    inset:0;
    background:

        radial-gradient(
            circle at top,
            rgba(255,255,255,.08),
            transparent 55%
        );

    pointer-events:none;

}
.mobile-menu-content{

    position:relative;
    z-index:2;

}

.mobile-menu.active{

    opacity:1;
    visibility:visible;

}

.mobile-menu-content{

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:18px;

}

.mobile-menu-content a{

    color:white;
    letter-spacing:1px;
    transition:var(--transition);
    font-size:34px;
    font-family:var(--heading);
    font-weight:600;
    opacity:0;
    transform:translateY(40px);
    transition:.45s;

}
.mobile-menu-content a:hover{

    color:var(--gold);
    transform:translateY(-3px);
    text-shadow:
        0 0 20px rgba(212,175,55,.35);

}

.mobile-contact{
    margin-top:60px;
    padding-top:35px;
    border-top:1px solid rgba(255,255,255,.15);
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:18px;

}

.mobile-contact a,

.mobile-contact p{

    color:white;
    font-size:17px;
    opacity:.9;

}

.mobile-menu.active a{
    opacity:1;
    transform:translateY(0);

}

@media(min-width:993px){

.mobile-menu{

display:none;

}

}



.mobile-address{
    display:flex;
    align-items:flex-start;
    gap:10px;
    font-size:17px;
    opacity:.9;
    text-decoration:none;
    transition:var(--transition);

}


.hero{
    position:relative;
    min-height:100vh;
    display:flex;
    align-items:center;
    overflow:hidden;
    padding:140px 0 80px;
    color: #ffc710;

}

.hero-content{
    width:min(90%,700px);
    margin-left:8%;
    position:relative;
    z-index:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero-content h1{

    color:var(--gold-light);
    -webkit-text-stroke:1px rgba(255,255,255,.18);
    text-shadow:
        0 2px 10px rgba(0,0,0,.35),
        0 0 25px rgba(15,106,77,.35);
    text-transform: uppercase;
}

.hero-content h2{
    color: var(--white);
}
.hero-description{
    color: #ffffff;
}
.hero-subtitle{
    color: wheat;
}

@media(max-width:768px){

.hero{
    min-height:100svh;
    padding:110px 0 60px;

}

.hero-content{
    width:92%;
    margin:auto;
    text-align:center;

}

}
@media(max-width:576px){

.hero{
    padding:100px 0 50px;

}

}


.hero-social{
    margin-top:45px;
    display:flex;
    align-items:center;
    gap:35px;
    flex-wrap:wrap;
}

.hero-social a{

    display:flex;
    align-items:center;
    gap:10px;
    color:var(--gold);
    font-size:15px;
    font-weight:500;
    transition:var(--transition);

}

.hero-social a i{
    width:42px;
    height:42px;
    border:1px solid rgba(255,255,255,.25);
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
    transition:var(--transition);

}

.hero-social a:hover{
    color:var(--white);
}

.hero-social a:hover i{
    border-color:var(--white);
    background:rgba(212,175,55,.15);
    transform:translateY(-3px);

}

@media(max-width:768px){

.hero-social{
    justify-content:center;
    gap:18px;

}

.hero-social a{
    font-size:14px;

}

.hero-social a i{
    width:28px;
    height:28px;
    font-size:16px;

}

}





@media (max-width:992px){

section{

    padding:90px 0;

}

h1{

    font-size:56px;

}

h2{

    font-size:42px;

}

h3{

    font-size:32px;

}

p{

    font-size:16px;

}

.logo img{

    height:55px;

}

}

@media (max-width:768px){

.container{

    width:92%;

}

section{

    padding:70px 0;

}

h1{

    font-size:42px;

}

h2{

    font-size:34px;

}

h3{

    font-size:28px;

}

p{

    font-size:16px;

    line-height:1.7;

}

header{

    height:80px;

}

.logo img{

    height:50px;

}

}

@media (max-width:768px){

.mobile-menu-content{

    gap:22px;

}

.mobile-menu-content a{

    font-size:28px;

}

.mobile-contact{

    margin-top:45px;

    gap:14px;

}

.mobile-contact a{

    font-size:15px;

}

.mobile-address{

    font-size:15px;

}

}

@media (max-width:576px){

header{

    height:75px;

}

.logo img{

    height:45px;

}

.burger{

    width:40px;
    height:40px;

}

.burger span{

    width:24px;

}

.mobile-menu-content{

    gap:18px;

}

.mobile-menu-content a{

    font-size:24px;

}

.mobile-contact{

    margin-top:35px;

}

.mobile-contact a{

    font-size:14px;

}

.mobile-address{

    font-size:14px;

}

}



.hero-slider{

    position:absolute;

    inset:0;

    overflow:hidden;

}

.slide{

    position:absolute;
    inset:0;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    opacity:0;
    transition:opacity 1.2s ease;

}

.slide.active{

    opacity:1;

}

.slide:nth-child(1){

    background-image:url("images/hero1.png");

}

.slide:nth-child(2){

    background-image:url("images/hero2.png");

}

.slide:nth-child(3){

    background-image:url("images/hero3.png");

}


footer{

    background:#081F18;

    color:white;

    padding:90px 0 35px;

    position:relative;

}
.footer-container{

    display:grid;

    grid-template-columns:2fr 1fr 1fr 1fr;

    gap:60px;

    align-items:flex-start;

}
.footer-brand img{

    width:220px;

    margin-bottom:25px;

}

.footer-brand p{

    color:rgba(255,255,255,.75);

    font-size:17px;

    line-height:1.8;

    max-width:320px;

}
.footer-column h3{

    color:var(--gold);

    margin-bottom:22px;

    font-size:24px;

}
.footer-column{

    display:flex;

    flex-direction:column;

    gap:14px;

}
.footer-column a{

    color:rgba(255,255,255,.78);

    transition:var(--transition);

}

.footer-column a:hover{

    color:var(--gold);

    transform:translateX(6px);

}
.footer-column p{

    color:rgba(255,255,255,.72);

}
.footer-bottom{

    margin-top:70px;

    padding-top:35px;

    border-top:1px solid rgba(255,255,255,.10);

    display:flex;

    justify-content:space-between;

    align-items:center;

    flex-wrap:wrap;

    gap:20px;

}
.footer-social{

    display:flex;

    gap:18px;

}
.footer-social a{

    width:46px;

    height:46px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    border:1px solid rgba(255,255,255,.12);

    color:white;

    transition:var(--transition);

}
.footer-social a:hover{

    background:var(--gold);

    color:#081F18;

    transform:translateY(-5px);

    border-color:var(--gold);

}
.footer-bottom p{

    color:rgba(255,255,255,.60);

    font-size:15px;

}

.footer-bottom a{

    color:var(--gold);

}
@media(max-width:992px){

.footer-container{

    grid-template-columns:1fr 1fr;

}

}
@media(max-width:768px){

.footer-container{

    grid-template-columns:1fr;

    text-align:center;

}
.footer-brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.footer-brand img{

    margin:auto auto 25px;

}

.footer-column{

    align-items:center;

}

.footer-bottom{

    flex-direction:column;

}

header.active{

background:none;



}

}
footer::before{

    content:"";

    position:absolute;

    top:0;
    left:50%;

    transform:translateX(-50%);

    width:220px;
    height:2px;

    background:linear-gradient(
        90deg,
        transparent,
        var(--gold),
        transparent
    );

}